- if @players_data.present?
  .relative.overflow-x-auto
  %table.w-full.text-sm.text-left.rtl:text-right.text-gray-500.dark:text-gray-400
    %thead.text-xs.text-gray-700.uppercase.bg-gray-50.dark:bg-gray-700.dark:text-gray-400
      %tr
        %th.px-6.py-3{scope: "col"}
          Rank
        %th.px-6.py-3{scope: "col"}
          Name
        %th.px-6.py-3{scope: "col"}
          Point
       
    %tbody
      - @players_data.each_with_index do |player, index|
        %tr.border-b{class: index < 3 ? "bg-green-100" : "bg-orange-100"}
          %th.px-6.py-4.font-medium.text-gray-900.whitespace-nowrap.dark:text-white{scope: "row"}
            = index + 1
          %td.px-6.py-4
            = player[0]
          %td.px-6.py-4
            = player[1]
       
      