.w-full
  = link_to "<- Tournaments list", root_path, class: "mb-4 px-3 py-2 text-xs font-medium text-center inline-flex items-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300"
  


  .mt-6 
    .text-lg.mb-3.text-center Batting Records
    = render "players/run_stat", players: @players

  .mt-10
    .text-lg.mb-3.text-center Bowling Records
    = render "players/wicket_stat", players: @players
  
  -# - if user_signed_in?
  -#   .mt-6.mb-10 
  -#     = render "players/add_player"
  -#     = render "players/edit_players"



  