.w-full
	
	.my-1.py-4.bg-slate-100.w-full.flex.justify-center
		.mb-2.text-gray-900.text-2xl.bg-orange-300.w-full.py-4.text-center
			%span{class: @match.winner_team_id.present? ? @match.winner_team_id == @match.teams.first.id ? "font-bold text-green-500" : "text-light text-red-600" : "font-bold"}= @match.teams.first.captain.name
			%span.mx-2 vs
			%span{class: @match.winner_team_id.present? ? @match.winner_team_id == @match.teams.last.id ? "font-bold text-green-500" : "text-light text-red-600" : "font-bold"}= @match.teams.last.captain.name


	.mb-4.border-b.border-gray-200
		%ul#default-tab.flex.flex-wrap.-mb-px.text-sm.font-medium.text-center{"data-tabs-toggle" => "#default-tab-content", role: "tablist"}
			%li.me-2{role: "presentation"}
				%button#profile-tab.inline-block.p-4.border-b-2.rounded-t-lg{"aria-controls" => "profile", "aria-selected" => "false", "data-tabs-target" => "#profile", role: "tab", type: "button"} Players
			%li{role: "presentation"}
				%button#contacts-tab.inline-block.p-4.border-b-2.rounded-t-lg.hover:text-gray-600.hover:border-gray-300{"aria-controls" => "contacts", "aria-selected" => "false", "data-tabs-target" => "#contacts", role: "tab", type: "button"} Result
	#default-tab-content
		#profile.hidden.p-4.rounded-lg.bg-gray-50{"aria-labelledby" => "profile-tab", role: "tabpanel"}
			= render "matches/players"
				
		#contacts.hidden.p-4.rounded-lg.bg-gray-50{"aria-labelledby" => "contacts-tab", role: "tabpanel"}
			= render "matches/result"
				


	