@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/


.playerPhoto {
  width: 70px !important;
  height: 70px !important;
  border-radius: 50% !important;
  object-fit: cover !important;
}
.vsPlayerPhoto{
  width: 40px !important;
  height: 40px !important;
  border-radius: 50% !important;
  object-fit: cover !important;
}
.playerTourPhoto{
  @apply border-green-500;
  width: 60px !important;
  height: 60px !important;
  border-radius: 50% !important;
  object-fit: cover !important;
}
.rivalryPhoto{
  width: 50px !important;
  height: 50px !important;
  border-radius: 50% !important;
  object-fit: cover !important;
}

.go-primary-button {
  @apply px-6 py-2 cursor-pointer text-sm font-semibold text-white border rounded-xl shadow-sm hover:bg-violet-900;
  background-color: #5e21d8;
  border-color: #5e21d8;
}