@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/


.playerPhoto {
  width: 70px !important;
  height: 70px !important;
  border-radius: 50% !important;
  object-fit: cover !important;
}
.vsPlayerPhoto{
  width: 40px !important;
  height: 40px !important;
  border-radius: 50% !important;
  object-fit: cover !important;
}
.playerTourPhoto{
  @apply border-green-500;
  width: 60px !important;
  height: 60px !important;
  border-radius: 50% !important;
  object-fit: cover !important;
}
.rivalryPhoto{
  width: 50px !important;
  height: 50px !important;
  border-radius: 50% !important;
  object-fit: cover !important;
}

.go-primary-button {
  @apply px-6 py-2 cursor-pointer text-sm font-semibold text-white border rounded-xl shadow-sm hover:bg-violet-900;
  background-color: #5e21d8;
  border-color: #5e21d8;
}








@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Cursor */
.cursor{
  position: relative;
  border-right: 2px solid rgb(0, 0, 0);
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-10%);    
}
/* Animation */
.typewriter-animation {
  animation: 
    typewriter 1s steps(150) 0s 1 normal both, 
    blinkingCursor 1000ms steps(60) normal both;
}
@keyframes typewriter {
  from { width: 0; }
  to { width: 100%; }
}
@keyframes blinkingCursor{
  from { border-right-color: rgb(0, 0, 0); }
  to { border-right-color: transparent; }
}