.text-xl.text-center.font-bold Stats

- if @stats.present?
  .relative.overflow-x-auto.mt-4
    .grid.grid-cols-12.col-gap-2
      - @stats.each_with_index do |stat, index|
        .col-span-6.py-3.px-2{class: index % 2 == 0 ? "bg-slate-100" : "bg-white"}
          %h5= stat[0]
        .col-span-6.py-3.px-2{class: index % 2 == 0 ? "bg-slate-100" : "bg-white"}
          %h5= stat[1]
      
    