.text-xl.text-center.font-bold Stats

- if @stats.present?
  .relative.overflow-x-auto.mt-4
    %table.w-full.text-sm.text-left.rtl:text-right.text-gray-500
      %tbody
        - @stats.each_with_index do |stat|
          %tr.odd:bg-white.even:bg-gray-100
            %td.px-6.py-3.max-w-20
              %h5= stat[0]
            %td.px-6.py-3
              %h5= stat[1]
        
      